@font-face {
    font-family: Garet;
    src: url("../fonts/ofont.ru_Garet.ttf");
}
.title {
    color: white;
    text-align: center;
    margin-left: 20px;
    font-size: 40px;
}
.matchScore {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Garet;
}
.team1{
    display: flex;
    font-size: 60px;
    color: white;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.team2{
    display: flex;
    font-size: 60px;
    color: white;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.score{
    font-size: 80px;
    color: white;
    padding: 50px;
}
.img1{
    width: 200px;
    height: 200px;
}
.img{
    width: 200px;
    height: 200px;
}
.teamName {
    padding-left: 50px;
}
.champTitle{
    display: flex;
    align-items: center;
}
.imgTitle{
    width: 200px;
    height: 200px;
}

